.App {
    text-align: center;
}

html {
  background-color: #34466d;
  font-family: Palatino Linotype, sans-serif;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.frontpage {
  margin-top: 2rem;
}

.maintext {
  margin-top: 4rem;
}

.ImageList {
  display: inline-block;
}

.thumbnails-container {
  width: 90vw;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.page-button {
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
  margin: 0.4rem 0.2rem 0.6rem 0.2rem;
  background-color: #67d175;
  border: 0.2rem solid;
  border-color: #329c40;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.thumbnail {
  display: block;
  float: left;
  height: 10rem;
  width: 10rem;
  position: relative;
}

.img-thumbnail:hover {
  cursor: pointer;
}

.open-image-container {
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-fullimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-fullimage .hide {
  display: none;
}

.albums-container {
  float: left;
  margin-left: 0.8rem;
  width: 30vw;
}

.albums-header {
  height: 1.5rem;
}

.album {
    display: block;
    border: solid 2px;
    border-color: #6789d1;
    border-radius: 2px;
    padding: 0.3rem;
    margin-bottom: 4px;
    background-color: #32649c;
    cursor: pointer;
}

.album.selected {
  border-color: #67d175;
  background-color: #329c40;

}

.album-open-container {
  float: left;
  width: 55vw;
  min-height: 50vh;
  border: solid 2px;
  border-color: #6789d1;
  border-radius: 2px;
  margin: 1.5rem 0rem 0rem 2rem;
  background-color: #32649c;
  position: sticky;
  top: 1.5rem;
}

.album-image-thumbnail {
  width: 3rem;
  height: 3rem;
  margin: 0.4rem;
  cursor: pointer;
}

.album-thumbnail {
  display: inline-block;
  position: relative;
}


ul.navigation li {
  display: inline-block;
  color: #000;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}

ul.navigation li:hover:not(.active) {
  background-color: #293b64;
  color: white;
  cursor: pointer;
}

.loader-front {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.loader-thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

