.App {
    text-align: center;
}

html {
  background-color: #6d6d6d;
  font-family: Palatino Linotype, sans-serif;
  color: #ffffff;
}

body {
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.frontpage {
  margin-top: 2rem;
}

.maintext {
  margin-top: 4rem;
}

.ImageList {

}

.thumbnails-container {
  width: 90vw;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.page-button {
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
  margin: 0.4rem 0.2rem 0.6rem 0.2rem;
  background-color: #67d175;
  border: 0.2rem solid;
  border-color: #329c40;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.thumbnail {
  display: inline-block;
  height: 10rem;
  width: 10rem;
  position: relative;
}

.img-thumbnail:hover {
  cursor: pointer;
}

.open-image-container {
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-fullimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  max-height: 75vh;
}

.img-fullimage .hide {
  display: none;
}

.albums-container {

}

.albums-header {
  height: 1.5rem;
}

.album {
    display: inline-block;
    border: solid 2px;
    border-color: #525252;
    border-radius: 2px;
    padding: 0.3rem;
    margin: 2px;
    background-color: #545454;
    cursor: pointer;
}

.album.selected {
  border-color: #67d175;
  background-color: #329c40;

}

.album-open-container {
  margin-top: 1.5rem;
}

.album-image-thumbnail {
  width: 3rem;
  height: 3rem;
  margin: 0.4rem;
  cursor: pointer;
}

.album-thumbnail {
  display: inline-block;
  position: relative;
}

ul {
  list-style-type: none;
}

ul.navigation {
  padding-inline-start: 0rem;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 80vw;
  margin: 0 auto 1rem auto;
}

ul.navigation li {
  display: flex;
  color: #000;
  text-decoration: none;
  flex: 1;
  flex-direction: column;
}

ul.navigation li:hover:not(.active) {
  background-color: #666666;
  color: white;
  cursor: pointer;
}

.loader-front {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.loader-thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link-class {
  margin: auto;
  padding: 0 1rem;
}
